@import "../../scss/global.scss";

.workspace_card_container {
  width: 100%;
  height: auto;

  box-shadow: 8px 8px 18px 0 rgba(0, 0, 0, 0.06);
  .workspace_card_subcontainer {
    position: relative;
    .upper_design {
      height: 85px;
      box-shadow: 2px 3px 6px #00000029;
      background: transparent linear-gradient(90deg, #f4c5f4 0%, #c5c1f6 100%)
        0% 0% no-repeat padding-box;
    }
    .bottom_part_card {
      background-color: white;
      .card_icon {
        width: 76px;
        height: 76px;
        box-shadow: 2px 10px 25px #0000000f;
        background-color: #f7f4f4;
        @include flexalign(center);
      }
      .lower_info_design {
        background-color: white;

        h3 {
          font-size: 22px;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
}
