@import "../../scss/global.scss";

// Mobile Screen

@media screen and (max-width: 600px) {
  .project_overview_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px auto;
    grid-template-areas:
      "tabs tabs tabs tabs"
      "data data data data";
    .represent_data {
      @include animations();
      grid-area: data;
      margin-top: 15px;
    }

    .tabs_section {
      @include flexalign(space-between);
      grid-area: tabs;
      padding: 32px 40px 25px 40px;
      background-color: $secondarycolor;
      span {
        cursor: pointer;
        font-size: $mediumfontsize;

        .active_project_plan {
          color: white;
          font-weight: bold;
          font-size: $mediumfontsize;
          cursor: pointer;
          font-size: 15px;
          @include flexalign(center);
          height: 50px;
          border-bottom: 4px solid white;
        }

        .inactive_project_plan {
          color: grey;
          font-weight: bold;
          font-size: $mediumfontsize;
        }
      }
      :hover {
        color: black;
        font-weight: bold;
        font-size: $mediumfontsize;
      }
    }
  }
}

// Web Screen

@media screen and (min-width: 600px) {
  .tabs_section {
    @include flexalign(space-between);
    width: 24%;
    padding: 10px;
    margin: 10px;

    span {
      cursor: pointer;
      font-size: $mediumfontsize;

      .active_project_plan {
        color: black;
        font-weight: bold;
        font-size: $mediumfontsize;
      }

      .inactive_project_plan {
        color: lightgrey;
        font-weight: medium;
        font-size: $mediumfontsize;
      }
    }
    :hover {
      color: black;
      font-weight: bold;
      font-size: $mediumfontsize;
    }
  }
}
