$red: red;
$white: white;

.logo{
    width: 54px;
    height: 40px;
    margin: 30px;
    margin-left: 50px;
    align-items: center;
   
    
}

.Sidebar{
  height: 100vw;
  width: 10vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2541b2;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar_buttons{
  margin: 11px;
  font-size: 12px;
  color: $white;
  font-weight: 500;
  cursor: pointer;
}

.sidebar_top{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar_bottom{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sidebar_items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10vw;
  height: 30vw;
}

.logo_container{
  align-items: center;
}
