@import "../../scss/global.scss";

.card_container {
  margin: 10px 0px 0px 0px;
  @include flexalign(center);
  @include animations();
  .card_subcontainer {
    width: 90%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .card_top {
    @include flexalign(space-between);

    ion-icon {
      color: black;
    }

    .project_creator {
      @include flexalign(start);
      span {
        font-weight: bold;
        font-size: 12px;
      }
    }
  }

  .card_subcontainer2 {
    @include flexalign(space-between);
    width: 60%;
    margin-top: 5px;
    label {
      color: #656565;
      font-weight: 400;
      font-size: 12px;
    }

    h6 {
      font-size: 13px;
      font-weight: bold;
    }
  }

  .card_subcontainer3 {
    margin-top: 5px;
    float: right;
    color: $primarycolour;
  }
}

.card_top {
  @include flexalign(space-between);

  h6 {
    color: $primarycolour;
    font-weight: 600;
    font-size: 16px;
  }
}

.card_middle {
  @include flexalign(start);
}

ion-icon {
  color: black;
}

.card_bottom {
  float: right;
}
