@import "../../scss/global.scss";

.stages_input_fileds {
  width: 40%;
  margin: 20px 0px 20px 0px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  @include flexalign(start);
  .name_input {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    background: inherit;
    border: none;
    outline: none;
  }
  .percentage_input {
    width: 10%;
    padding: 10px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    background: inherit;
    border: none;
    outline: none;
  }

  .percentage_input::placeholder {
    text-align: right;
  }

  label {
    color: red;
    margin-left: 20px;
    font-weight: bold;
  }
}
