@import "../../scss/global.scss";

// Mobile Screen

@media screen and (max-width: 600px) {
  .display_group_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px auto;
    grid-template-areas:
      "tabs tabs tabs tabs"
      "data data data data";
    .represent_data {
      @include animations();
      @include flexalign(space-between);
      grid-area: data;
      margin-top: 10px;
    }

    .tabs_section {
      @include flexalign(space-between);
      grid-area: tabs;
      padding: 32px 40px 25px 40px;
      background-color: $secondarycolor;
      span {
        cursor: pointer;
        font-size: $mediumfontsize;

        .active_project_plan {
          color: white;
          font-weight: bold;
          font-size: $mediumfontsize;
          cursor: pointer;
          font-size: 13px;
          @include flexalign(center);
          height: 50px;
          border-bottom: 4px solid white;
        }

        .inactive_project_plan {
          color: grey;
          font-weight: bold;
          font-size: 13px;
        }
      }
      :hover {
        color: black;
        font-weight: bold;
        font-size: $mediumfontsize;
      }
    }
  }
}

// Web Screen

@media screen and (min-width: 600px) {
  // .tabs_section {
  //   @include flexalign(flex-end);
  //   width: 90%;
  //   padding: 10px;
  //   margin: 10px;

  //   span {
  //     cursor: pointer;
  //     font-size: $mediumfontsize;

  //     .active_group_chat {
  //       color: black;
  //       font-weight: bold;
  //       font-size: $mediumfontsize;
  //     }

  //     .inactive_group_chat {
  //       color: lightgrey;
  //       font-weight: medium;
  //       font-size: $mediumfontsize;
  //     }
  //   }
  //   :hover {
  //     color: black;
  //     font-weight: bold;
  //     font-size: $mediumfontsize;
  //   }
  // }
  .task_view_grid_system{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fit, 3);
    grid-template-areas: 
    "sidebar button"
    "sidebar details"
    "sidebar updates";

    .action_button{
      grid-area: button;
      width: 90%;
      margin-bottom: 20px;
      span{
        float: right;
      }
    }

    .task_details{
      grid-area: details;
    }

    .task_updates{
      grid-area: updates;
    }

    .sidebar_subtask{
      grid-area: sidebar;
    }
  }
}
