@import "../../scss/global.scss";

// Web Screens
@media screen and (min-width: 600px) {
  .createproject_container {
    .createproject_subcontainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-gap: 10px;
      .desc {
        border: none;
        border-radius: 5px;
        outline: none;
        width: 95%;
        height: 150px;
        padding: 5px;
        font-weight: 500;
        font-size: 15px;
        resize: none;
        margin: 30px 0px 20px 0px;
      }

      .create_categories {
        margin: 10px 0px 40px 0px;
        .stage_label {
          font-size: 18px;
          margin: 10px 0px 20px 0px;
        }

        .add_stage_label {
          color: $primarycolour;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }

  .desc {
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 150px;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    resize: none;
    margin: 30px 0px 20px 0px;
  }
  .create_project_button {
    float: right;
  }
}

// Mobile Screens
@media screen and (max-width: 600px) {
  .createproject_container {
    background-color: inherit;
    padding: 20px;
    .createproject_subcontainer {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      .desc {
        border: none;
        border-radius: 5px;
        outline: none;
        width: 95%;
        height: 150px;
        padding: 5px;
        font-weight: 500;
        font-size: 15px;
        resize: none;
      }
    }
  }

  .desc {
    border: none;
    border-radius: 5px;
    outline: none;
    width: 98%;
    height: 150px;
    margin-top: 20px;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    resize: none;
  }
  .create_project_button {
    width: 100%;
    margin-top: 10px;
  }
}
