@import "../../scss/global.scss";

// Web Screens
@media screen and (min-width: 600px) {
  .createproject_container {
    width: 95%;
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 15px;
    .createproject_subcontainer {
      .project_title {
        margin-bottom: 25px;
      }
      .project_dates {
        width: 50%;
        margin-bottom: 45px;
        @include flexalign(space-between);
      }
      .project_members_and_lead {
        width: 70%;
        @include flexalign(space-between);
        .members_input {
          width: 40%;
        }
        margin-bottom: 45px;
      }
      .project_stages_container {
        margin-bottom: 65px;

        span {
          color: #e41e26;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }

    .create_project_btn {
      width: 98%;
      @include flexalign(flex-end);
    }
  }
}

// Mobile Screens
@media screen and (max-width: 600px) {
  .createproject_container {
    background-color: inherit;
    padding: 20px;
    .createproject_subcontainer {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      .desc {
        border: none;
        border-radius: 5px;
        outline: none;
        width: 95%;
        height: 150px;
        padding: 5px;
        font-weight: 500;
        font-size: 15px;
        resize: none;
      }
    }
  }

  .desc {
    border: none;
    border-radius: 5px;
    outline: none;
    width: 98%;
    height: 150px;
    margin-top: 20px;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    resize: none;
  }
  .create_project_button {
    width: 100%;
    margin-top: 10px;
  }
}
