$white: white;
$black: black;

.header{
    width:100%;
    background-color: $white;
    top: 0;
    height: 90px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    position: fixed; 
}

.header_left{
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 20px;
    padding-left: 35px;
}

.header_right{
    margin-right: 25px;
    margin-top: 25px;
    padding-right: 35px;
}

.header_buttons{
    margin: 11px;
    font-size: 25px;
    color: $black;
    font-weight: 500;
    cursor: pointer;
  }