@import "../../scss/global.scss";
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.user_container {
  // width: 390px;
  // height: auto;
  // padding: 15px;
  // margin: 38px auto;
  // background-color: white;
  // border-radius: 5px;
  // box-shadow: 0 5px 30px 0  rgba(194, 198, 208, 0.5);;
  // position: relative;
  // left: 20px;
  // top: 60px;
  border-collapse: collapse;
  width: 95%;
  margin: 10px 0px 0px 20px;
  box-shadow: 2px 2px 2px 1px #f7f7f7;
}

th.table_heading {
  padding: 15px 30px;
}

.table_heading {
  padding: 10px 30px;
  border-bottom: 4px solid #f9f8ff;
}

.table_heading_button {
  padding: 10px 0px;
  color: $primarycolour;
  font-weight: bold;
  cursor: pointer;
}

.accept_btn {
  background-color: maroon;
  padding: 10px;
  border-radius: 5px;
}

.inp_btn {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
}

.complete_btn {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}

tr th {
  background-color: #f9f9f9;
  font-size: 13px;
}

#table_caption {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.table_row {
  background-color: white;
  font-size: 12px;
  td {
    text-align: center;

    td {
      text-align: center;
    }
  }
}
