@import "../../scss/global.scss";

// web view
@media screen and (min-width: 600px) {
  .info_container {
    width: 20%;
    padding: 10px;
    margin: 10px;

    .info_subdata {
      @include flexalign(space-between);
      margin-top: 14px;

      label {
        color: $lightgreycolor;
        font-size: $smallfontsize;
      }

      div div {
        font-size: 14px;
        font-weight: 600;
      }
    }

    h3 {
      color: $primarycolour;
    }

    .project_desc {
      font-size: 14px;
      color: #757575;
      margin: 5px 5px 10px 0px;
    }
  }
}

// Mobile View

@media screen and (max-width: 600px) {
  .info_container {
    margin: 15px;

    .info_subdata {
      @include flexalign(space-between);
      margin-top: 6px;
      margin-right: 20px;
      label {
        color: $lightgreycolor;
        font-size: $smallfontsize;
      }

      div div {
        font-size: 14px;
        font-weight: 600;
      }
    }

    h3 {
      color: $primarycolour;
      font-weight: bolder;
      margin: 0px 5px 0px 0px;
    }

    .project_desc {
      font-size: 13px;
      color: #757575;
      margin: 5px 5px 10px 0px;
    }
  }
}
