@import "../../scss/global.scss";

// web view
@media screen and (min-width: 600px) {
  .info_container {
    width: 20%;
    padding: 10px;
    margin: 10px;

    .info_subdata {
      @include flexalign(space-between);
      margin-top: 14px;

      label {
        color: $lightgreycolor;
        font-size: $smallfontsize;
      }

      div div {
        font-size: 14px;
        font-weight: 600;
      }
    }

    h3 {
      color: $primarycolour;
    }
  }
}

// Mobile View

@media screen and (max-width: 600px) {
  .info_container {
    margin: 15px;

    .info_subdata {
      @include flexalign(space-between);
      margin-top: 6px;

      label {
        color: $lightgreycolor;
        font-size: $smallfontsize;
      }

      div div {
        font-size: 14px;
        font-weight: 600;
      }
    }

    h3 {
      color: $primarycolour;
      font-weight: bolder;
    }
  }
}
