@import "../../scss/global.scss";

@media screen and (min-width: 600px) {
  .button {
    button {
      color: #e41e26;
      background-color: $primarycolour;
      border: 1px solid #e41e26;
      padding: 13px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 600px) {
  .button {
    width: 100%;
    @include flexalign(center);
    button {
      color: #e41e26;
      background-color: $primarycolour;
      border: 0.5px solid #e41e26;
      padding: 15px;
    }
  }
}
