@import "../../scss/global.scss";

//Web view
@media screen and (min-width: 600px) {
  .section_container {
    margin: 0px 10px 0px 0px;
    // @include flexalign(center);

    .section_subcontainer {
      width: 92%;
      border-radius: 5px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
      background-color: #f7f7f7;
      padding: 15px;
      cursor: pointer;
      @include flexalign(center);
      label {
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
      }
    }

    .web_view_sectiondisplay {
      width: 100%;
      height: 100%;
      .depatments_display {
        width: 100%;
        box-shadow: 1px 1px 1px 1px lightgrey;
      }

      input {
        width: 97%;
        height: 42px;
        background-color: white;
        font-weight: medium;
        padding: 0px 0px 0px 10px;
        border-radius: 5px;
        font-size: 13px;
        border: none;
        outline: none;
      }
      .drop_down_departments {
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        cursor: pointer;
        @keyframes display_dep {
          from {
            height: 0px;
          }
          to {
            height: 200px;
          }
        }
        max-height: 200px;
        overflow: scroll;
        animation: display_dep 0.5s;
        P {
          margin: 10px 5px 15px 20px;
          font-size: 12px;
        }

        .selected_or_not {
          @include flexalign(space-between);
        }

        .search_container {
          display: flex;
          align-items: center;
        }
      }
      ::-webkit-scrollbar {
        width: 10px;
      }
    }
  }
}

//Mobile View
@media screen and (max-width: 600px) {
  .section_container {
    // @include flexalign(center);
    .section_subcontainer {
      width: 92%;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
      background-color: #f7f7f7;
      padding: 15px;
      cursor: pointer;
      @include flexalign(center);
      label {
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
      }
    }

    .web_view_sectiondisplay {
      width: 100%;
      height: 100%;
      .depatments_display {
        width: 100%;
        background-color: rgba(112, 112, 112, 0.06);
        border-radius: 3px;
        .department_selection {
          padding: 20px;
          @include flexalign(space-between);
          label {
            font-weight: bold;
          }
          ion-icon {
            color: black;
          }
        }
      }

      input {
        width: 97%;
        height: 50px;
        background-color: white;
        font-weight: medium;
        padding: 0px 0px 0px 13px;
        border-radius: 5px;
        font-size: 13px;
        border: none;
        outline: none;
      }
      .drop_down_departments {
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        cursor: pointer;
        @keyframes display_dep {
          from {
            height: 0px;
          }
          to {
            height: 200px;
          }
        }
        max-height: 200px;
        overflow: scroll;
        animation: display_dep 0.5s;
        ion-icon {
          color: black;
        }
        P {
          margin: 10px 5px 15px 20px;
          font-size: 12px;
        }

        .selected_or_not {
          @include flexalign(space-between);
        }

        .search_container {
          display: flex;
          align-items: center;
          padding: 10px 10px 10px 20px;
        }
      }
      ::-webkit-scrollbar {
        width: 10px;
      }
    }
  }
}
