@import "../../scss/global.scss";

// Web Screens
@media screen and (min-width: 600px) {
  .createproject_container {
    .createproject_subontainer {
      .space_title {
        margin-bottom: 25px;
      }
      .space_members_and_lead {
        width: 70%;
        @include flexalign(space-between);
        .members_input {
          width: 40%;
        }
        margin-bottom: 45px;
      }

      .create_project_btn {
        width: 98%;
        @include flexalign(flex-end);
      }
    }
  }
}
// Mobile Screens
@media screen and (max-width: 600px) {
  .createproject_container {
    background-color: inherit;
    padding: 20px;
    .createproject_subcontainer {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  .desc {
    border: none;
    border-radius: 5px;
    outline: none;
    width: 98%;
    height: 150px;
    margin-top: 20px;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    resize: none;
  }
  .create_project_button {
    width: 100%;
    margin-top: 10px;
  }
}
