.office-pana {
  background-color: #e5f6f5;
  object-fit: contain;
}

.login_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 45px;
  background-color: white;
  border-radius: 5px;
}

.login_input {
  width: 55%;
  padding: 17px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.input_placeholder {
  float: left;
  background: white;
  margin-left: 25px;
  margin-top: -10px;
  z-index: 1;
  position: absolute;
  color: grey;
  font-size: 15px;
}

.welcome_container {
  margin: 150px 0 70px 0;
}

.welcome {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.welcome_subtitle {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.forgot_password {
  margin-left: 275px;
  font-size: 15px;
  font-weight: bold;
  color: #2541b2;
  cursor: pointer;
}

.blue_submit {
  width: 35%;
  height: 45px;
  border-radius: 2px;
  background-color: #2541b2;
  color: white;
  font-size: 16px;
  /* position: fixed; */
  bottom: 15px;
  border: unset;
  cursor: pointer;
  float: right;
  box-shadow: 3px 3px 3px grey;
  margin-top: 100px;
}

@media only screen and (min-width: 280px) {
  .login_container {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .login_container {
    width: 85%;
  }
}

@media only screen and (min-width: 768px) {
  .login_container {
    width: 68%;
  }
}

@media only screen and (min-width: 992px) {
  .login_container {
    width: 100%;
  }
}