$lightgreycolor: #707070;
$mediumfontsize: 15px;
$smallfontsize: 12px;
$largefontsize: 18px;
$primarycolour: #2541b2;
$secondarycolor: #15309c;
$mobile_background: #f8f9fd;

@mixin flexalign($align) {
  display: flex;
  justify-content: $align;
  align-items: center;
}

@mixin slide() {
  // Animation

  @keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  animation: slide 0.5s;
}

@mixin buttonAnimation($width) {
  @keyframes button {
    from {
      transform: width 0px;
    }
    to {
      transform: width $width;
    }
  }

  animation: button 0.5s;
}

@mixin animations() {
  // Animations
  @keyframes mymove {
    from {
      transform: scaleY(1.1);
    }
    to {
      transform: scaleY(1);
    }
  }

  animation: mymove 0.5s;
}

h4 {
  margin: unset;
  padding: unset;
}

h3,
h2,
h5 {
  margin: unset;
}

h6 {
  margin: unset;
}
