@import "../../scss/global.scss";

// Mobile View
@media screen and (max-width: 600px) {
  .info_represantation {
    display: none;
  }

  .plane_table_data_webview {
    display: none;
  }
  .respersent_data_container {
    @include animations();
    padding: 10px;
    .stats_represantation {
    }
  }

  .plane_sections {
    display: none;
  }
  .plane_mobile_sections {
    display: flex;
    justify-content: start;
    margin-left: 10px;
  }
}

// Web View
@media screen and (min-width: 600px) {
  .plane_mobile_sections {
    display: none;
  }
  .respersent_data_container {
    display: grid;
    margin-left: 20px;
    align-items: center;
    grid-template-columns: 400px 40px 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "stats space info info info";

    .stats_represantation {
      grid-area: stats;
    }

    .info_represantation {
      grid-area: info;
    }
  }

  .plane_table_data_webview {
    .project_table_subcontainer {
      margin-top: 50px;
    }
  }

  .plane_sections {
    @include flexalign(space-between);
    margin: 15px 20px 0px 20px;
    .plane_subsections {
      @include flexalign(space-between);
      flex-grow: 0.1;

      h5 {
        cursor: pointer;
      }
    }
  }

  .create_task {
    margin: 10px 20px 10px 20px;
  }
}
